/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-feb-2018, 21:34:20
    Author     : ADVANCE
*/

$color_1: #174488;
$color_2: #fff;
$color_3: #0b515c;
$color_4: #17a2b8;
$color_5: #666;
$color_6: #111;
$color_7: #767676;
$background_color_1: #fff;
$background_color_2: #174488;
$background_color_3: transparent;
$background_color_4: rgba(0,0,0,0.5);
$background_color_5: #17a2b8;
$background_color_6: rgba(15, 180, 206, 1);
$background_color_7: #feb100;
$background_color_8: rgba(255,255,255,0.2);
$background_color_9: rgba(0,0,0,0.0);
$background_color_10: #cecece;
$background_color_11: #d34836;
$background_color_12: #3b5998;
$background_color_13: #f2f2f2;

/*ALL*/
/*HEADER*/
/*HEADER - NAV*/
/*HEADER - ANIMATIONS*/
@keyframes anm-submenu {
	from {
		margin-left: -100%;
	}
	to {
		margin-left: 0;
	}
}
@keyframes anm-submenu-hide {
	from {
		margin-left: 0;
	}
	to {
		margin-left: -100%;
	}
}
@keyframes anm-main-menu {
	from {
		background-color: rgba(0,0,0,0.0);
	}
	to {
		background-color: rgba(0,0,0,0.5);
	}
}
@keyframes anm-menu-content {
	from {
		margin-left: -100%;
	}
	to {
		margin-left: 0;
	}
}
@keyframes anm-menu-content-hide {
	from {
		margin-left: 0;
	}
	to {
		margin-left: -100%;
	}
}
@keyframes anm-main-menu-hide {
	from {
		display: block;
		background-color: rgba(0,0,0,0.5);
	}
	to {
		background-color: rgba(0,0,0,0.0);
	}
}
/*HEADER - ANIMATIONS - BTN-MAIN-MENU*/
@keyframes anm-main-menu-btn-lbl1 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(45deg);
		top: 15px;
	}
}
@keyframes anm-main-menu-btn-lbl3 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-45deg);
		top: 15px;
	}
}
/*LOGIN POPUP*/
/*BANNER OFERTAS*/
/*CARDS*/
html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	position: relative;
}
button {
	border: 0;
	background-color: $background_color_1;
}
.header {
	z-index: 1;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 1px 0px 11px black;
	position: relative;
	background-color: $background_color_2;
	.logo {
		width: 200px;
	}
	.main-menu.active {
		.menu-content {
			box-shadow: 3px 0px 5px rgba(41, 41, 41, 0.2);
			margin-left: 0;
		}
		&~.main-menu-btn {
			label {
				&:nth-child(1) {
					animation-duration: 0.4s;
					animation-name: anm-main-menu-btn-lbl1;
					transform: rotate(45deg);
					top: 15px;
				}
				&:nth-child(2) {
					opacity: 0;
					transition: all 0.4s ease-out;
				}
				&:nth-child(3) {
					animation-duration: 0.4s;
					animation-name: anm-main-menu-btn-lbl3;
					transform: rotate(-45deg);
					top: 15px;
				}
			}
		}
	}
}
.main-menu-btn {
	&:focus {
		outline: 0;
	}
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	height: 40px;
	width: 47px;
	position: relative;
	background-color: $background_color_3;
	cursor: pointer;
	margin-top: 8px;
	label {
		width: 35px;
		height: 4px;
		border-radius: 2px;
		background-color: $background_color_1;
		margin-bottom: 0;
		cursor: pointer;
		position: absolute;
		transition: all 0.2s ease-out;
		&:nth-child(1) {
			top: 10px;
		}
		&:nth-child(2) {
			top: 18px;
		}
		&:nth-child(3) {
			top: 26px;
		}
	}
}
nav.main-menu {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	background-color: $background_color_4;
	z-index: 1;
	display: none;
	li.active {
		>.submenu-content {
			margin-left: 0;
			animation-duration: 0.5s;
			animation-name: anm-submenu;
		}
	}
	li.active.hide {
		>.submenu-content {
			margin-left: -100%;
			animation-duration: 0.5s;
			animation-name: anm-submenu-hide;
		}
	}
}
.main-menu {
	>.main-menu-content {
		width: 80%;
		max-width: 300px;
		height: 100%;
	}
	li {
		list-style: none;
	}
	ul {
		li {
			a {
				padding: 8px 15px;
				display: block;
				color: $color_1;
				border-bottom: solid 1px rgba(0, 0, 0, 0.1);
			}
		}
	}
	.menu-content {
		max-width: 350px;
		width: 80%;
		height: 100%;
		background-color: $background_color_1;
		margin-left: -100%;
	}
	.top {
		padding: 10px 0;
		background-color: $background_color_2;
		button {
			font-size: 0.9em;
			color: $color_2;
			text-transform: uppercase;
		}
	}
	.btn-login {
		background-color: $background_color_7;
	}
	.btn-signup {
		background-color: $background_color_8;
	}
}
.main-menu-content {
	.main-menu-content {
		position: fixed;
		top: 0;
		left: 0;
		width: 350px;
		max-width: 80%;
		background-color: $background_color_5;
		height: 100%;
		margin-left: -100%;
		z-index: -1;
	}
}
.main-menu-tools {
	border-right: solid 1px rgba(0,0,0,0.1);
	li {
		button {
			color: $color_2;
			background-color: $background_color_6;
			padding: 4.4px;
			font-size: 1.3em;
			cursor: pointer;
		}
		border-bottom: solid 1px rgba(0,0,0,0.1);
	}
}
.submenu-header {
	h5 {
		margin-bottom: 2px;
	}
}
.submenu-content {
	position: absolute;
	background-color: $background_color_1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin-left: -100%;
	>.submenu-header {
		color: $color_3;
		border-bottom: solid 1px rgba(0,0,0,0.2);
		padding: 7px 0px 3px;
		>button {
			color: $color_3;
		}
	}
}
nav.main-menu.active {
	display: block;
	opacity: 1;
	animation-duration: 0.5s;
	animation-name: anm-main-menu;
	>.menu-content {
		animation-duration: 0.5s;
		animation-name: anm-menu-content;
	}
}
nav.main-menu.active.hide {
	>.menu-content {
		margin-left: -100%;
		animation-duration: 0.5s;
		animation-name: anm-menu-content-hide;
	}
	background-color: $background_color_9;
	animation-duration: 0.5s;
	animation-name: anm-main-menu-hide;
}