/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-feb-2018, 22:01:05
    Author     : ADVANCE
*/



.banner-offerts {
	display: block;
	height: 480px;
	background-color: $background_color_7;
	background-image: url(/images/portada_mobile.jpg);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position-y: 100%;
	background-position-x: 50%;
	position: relative;
}
.banner-caption-content {
	position: absolute;
	right: 0;
	top: 20px;
	width: 60%;
	img {
		width: 100%;
	}
}
.cards-container {
	background-color: $background_color_13;
	padding: 10px 10px;
}
.card {
	box-shadow: 0 0 5px 0px #cacaca;
        border: none;
        margin-bottom: 15px;
	.item {
		padding: 15px 0px;
	}
	.item-container {
		h5 {
			font-size: 1em;
			color: $color_6;
		}
		.price {
			color: $color_7;
			font-size: 0.97em;
			font-weight: 400;
		}
	}
}
.card-header {
	h3 {
		font-size: 1.4em;
		font-weight: 400;
		margin-bottom: 0px;
	}
	padding-left: 0;
	padding-right: 0;
	padding-top: 8px;
        background-color: #fff;
}
.card-footer {
	padding: 8px 0px;
	color: $color_1;
	font-size: 0.95em;
	.fa {
		font-size: 1.5em;
	}
        background-color: #fff;
}

.card-slide{
    overflow: hidden;
}
