/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-feb-2018, 22:01:41
    Author     : ADVANCE
*/

.popup {
	background-color: $background_color_4;
	padding: 20px;
	z-index: 5;
	.tabs {
		a {
			justify-content: center;
			align-items: center;
			padding: 0;
		}
		a.active {
			label {
				color: $color_4;
				text-decoration: underline;
			}
			.sub-line {
				background-color: $background_color_5;
			}
		}
	}
	.login-form {
		button[type="submit"] {
			width: 100%;
		}
	}
	.main {
		padding-top: 10px;
	}
	.form-group {
		font-size: 0.9em;
		input {
			font-size: 0.9em;
		}
		label {
			margin-bottom: 3px;
		}
	}
	label {
		color: $color_5;
	}
}
.popup-container {
	width: 100%;
	max-width: 350px;
	box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
}
.popup-content {
	background-color: $background_color_1;
	padding: 20px 10px;
	border-radius: 2px;
}
.sub-line {
	height: 3px;
	width: 100%;
	background-color: $background_color_10;
}
#login {
	.forget-pass {
		font-size: 0.8em;
		text-decoration: underline;
		color: $color_5;
		display: table;
		margin-bottom: 15px;
	}
	.login-btn {
		color: $color_2;
		padding: 8px 10px;
		border-radius: 5px;
	}
	.google-login-btn {
		background-color: $background_color_11;
	}
	.facebook-login-btn {
		background-color: $background_color_12;
	}
}