/*ALL*/
html,body{
    width: 100%;
    height: 100%;
}
body{
    position: relative;
}
button {
    border: 0;
    background-color: #fff;
}
/*HEADER*/
.header {
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 1px 0px 11px black;
    position: relative;
    background-color: #174488;
}
.header .logo {
    width: 200px;
}
.main-menu-btn:focus{
    outline: 0;
}
.main-menu-btn {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    justify-content: center;
    -ms-align-items: center;
    align-items: center;

    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;

    height: 40px;
    width: 47px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    margin-top: 8px;
}
.main-menu-btn label {
    width: 35px;
    height: 4px;
    border-radius: 2px;
    background-color: #fff;
    margin-bottom: 0;
    cursor: pointer;
    position: absolute;
    transition: all 0.2s ease-out;
}
.main-menu-btn label:nth-child(1) {
    top: 10px;
}
.main-menu-btn label:nth-child(2) {
    top: 18px;
}
.main-menu-btn label:nth-child(3) {
    top: 26px;
}
/*HEADER - NAV*/
nav.main-menu {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    display: none;
}
.main-menu>.main-menu-content{
    width: 80%;
    max-width: 300px;
    height: 100%;
}
.main-menu li{
    list-style: none;
}
.main-menu ul li a {
    padding: 8px 15px;
    display: block;
    color: #174488;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}
.main-menu-content .main-menu-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    max-width: 80%;
    background-color: #17a2b8;
    height: 100%;
    margin-left: -100%;
    z-index: -1;
}
.main-menu-tools{
    border-right: solid 1px rgba(0,0,0,0.1);
}
.main-menu-tools li button{
    color: #fff;
    background-color: rgba(15, 180, 206, 1);
    padding: 4.4px;
    font-size: 1.3em;
    cursor: pointer;
}
.main-menu-tools li{
    border-bottom: solid 1px rgba(0,0,0,0.1)
}
.main-menu .menu-content {
    max-width: 350px;
    width: 80%;
    height: 100%;
    background-color: #fff;
    margin-left: -100%;
}
.main-menu .top{
    padding: 10px 0;
    background-color: #174488;
}
.main-menu .top button{
    font-size: 0.9em;
    color: #fff;
    text-transform: uppercase;
}
.main-menu .btn-login {
    background-color: #feb100;
}
.main-menu .btn-signup {
    background-color: rgba(255,255,255,0.2);
}
.submenu-header h5{
    margin-bottom: 2px;
}
.submenu-content {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-left: -100%;
}
.submenu-content>.submenu-header {
    color: #0b515c;
    border-bottom: solid 1px rgba(0,0,0,0.2);
    padding: 7px 0px 3px;
}
.submenu-content>.submenu-header>button{
    color: #0b515c;
}
/*HEADER - ANIMATIONS*/
nav.main-menu li.active>.submenu-content{
    margin-left: 0;
    animation-duration: 0.5s;
    animation-name: anm-submenu;
}
@keyframes anm-submenu{
    from{
        margin-left:-100%;
    }to{
        margin-left: 0;
    }
}
nav.main-menu li.active.hide>.submenu-content{
    margin-left: -100%;
    animation-duration: 0.5s;
    animation-name: anm-submenu-hide;
}
@keyframes anm-submenu-hide{
    from{
        margin-left: 0;
    }to{
        margin-left: -100%;
    }
}

nav.main-menu.active{
    display: block;
    opacity: 1;
    animation-duration: 0.5s;
    animation-name: anm-main-menu;
}
@keyframes anm-main-menu{
    from{
        background-color: rgba(0,0,0,0.0);
    }to{
        background-color: rgba(0,0,0,0.5);
    }
}
nav.main-menu.active>.menu-content{
    animation-duration: 0.5s;
    animation-name: anm-menu-content;
}
@keyframes anm-menu-content{
    from{
        margin-left: -100%;
    }to{
        margin-left: 0;
    }
}
nav.main-menu.active.hide>.menu-content{
    margin-left: -100%;
    animation-duration: 0.5s;
    animation-name: anm-menu-content-hide;
}
@keyframes anm-menu-content-hide{
    from{
        margin-left:0;
    }to{
        margin-left:-100%;
    }
}
nav.main-menu.active.hide{
    background-color: rgba(0,0,0,0.0);
    animation-duration: 0.5s;
    animation-name: anm-main-menu-hide;
}
@keyframes anm-main-menu-hide{
    from{
        display: block;
        background-color: rgba(0,0,0,0.5);
    }to{
        background-color: rgba(0,0,0,0.0);
    }
}
.header .main-menu.active .menu-content{
    box-shadow: 3px 0px 5px rgba(41, 41, 41, 0.2);
    margin-left: 0;
}
.header .main-menu.active ~ .main-menu-btn label:nth-child(1){
    animation-duration: 0.4s;
    animation-name: anm-main-menu-btn-lbl1;
    transform: rotate(45deg);
    top: 15px;
}
.header .main-menu.active ~ .main-menu-btn label:nth-child(2){
    opacity: 0;
    transition: all 0.4s ease-out;
}
.header .main-menu.active ~ .main-menu-btn label:nth-child(3){
    animation-duration: 0.4s;
    animation-name: anm-main-menu-btn-lbl3;
    transform: rotate(-45deg);
    top: 15px;
}

/*HEADER - ANIMATIONS - BTN-MAIN-MENU*/
@keyframes anm-main-menu-btn-lbl1{
    from{
        transform: rotate(0deg);
    }
    
    to{
        transform: rotate(45deg);
        top: 15px;
    }
}

@keyframes anm-main-menu-btn-lbl3{
    from{
        transform: rotate(0deg);
    }
    
    to{        
        transform: rotate(-45deg);
        top: 15px;
    }
}
/*LOGIN POPUP*/
.popup{
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    z-index: 5;
}
.popup-container {
    width: 100%;
    max-width: 350px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
}
.popup-content {
    background-color: #fff;
    padding: 20px 10px;
    border-radius: 2px;
}
.popup .tabs a {
    justify-content: center;
    align-items: center;
    padding: 0;
}
.sub-line {
    height:3px;
    width: 100%;
    background-color: #cecece;
}
.popup .tabs a.active label{
    color: #17a2b8;
    text-decoration: underline;
}
.popup .tabs a.active .sub-line{
    background-color: #17a2b8;
}
.popup .login-form button[type="submit"]{
    width: 100%;
}
.popup .main {
    padding-top: 10px;
}
.popup .form-group,.popup .form-group input{
    font-size: 0.9em;
}
.popup label{
    color: #666;
}
.popup .form-group label {
    margin-bottom: 3px;
}
#login .forget-pass {
    font-size: 0.8em;
    text-decoration: underline;
    color: #666;
    display: table;
    margin-bottom: 15px;
}
#login .login-btn{
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
}

#login .google-login-btn {
    background-color: #d34836;
}

#login .facebook-login-btn{
    background-color: #3b5998;
}
/*BANNER OFERTAS*/
.banner-offerts {
    display: block;
    height: 480px;
    background-color: #feb100;
    background-image: url(/laravel/public/images/portada_mobile.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 50%;
    position: relative;
}
.banner-caption-content {
    position: absolute;
    right: 0;
    top: 20px;
    width: 60%;
}
.banner-caption-content img {
    width: 100%;
}
/*CARDS*/
.cards-container {
    background-color: #d2d2d2;
    padding: 10px 10px;
}
.card{
    box-shadow: 0 0 5px 0px #cacaca;
}
.card-header h3 {
    font-size: 1.4em;
    font-weight: 400;
    margin-bottom: 0px;
}
.card-header{
    padding-left: 0;
    padding-right: 0;
    padding-top: 8px;
}
.card .item {
    padding: 15px 0px;
}
.card .item-container h5 {
    font-size: 1em;
    color: #111;
}
.card .item-container .price {
    color: #767676;
    font-size: 0.97em;
    font-weight: 400;
}
.card-footer {
    padding: 8px 0px;
    color: #174488;
    font-size: 0.95em;
}
.card-footer .fa{
    font-size: 1.5em;
}