<template>
    <div class="popup-container">
        <div class="popup-content d-flex flex-column">
            <div class="tabs d-flex flex-wrap">
                <a class="w-50 d-flex flex-column active">
                    <label>INICIAR SESIÓN</label>
                    <div class="sub-line"></div>
                </a>
                <a class="w-50 d-flex flex-column">
                    <label>REGISTRARSE</label>
                    <div class="sub-line"></div>
                </a>
            </div>
            <div class="main">
                <div class="login-form">
                    <form>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input v-model="loginDetails.email" type="email" class="form-control" placeholder="Ejemplo: manuelcarbajal4@gmail.com" required="">
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input v-model="loginDetails.password" name="password" type="password" class="form-control" required="">
                        </div>
                        <a href="" class="forget-pass">Olvidé mi contraseña</a>
                        <div class="btn-group w-100">
                            <button v-on:click="loginPost" type="submit" class="btn btn-info">
                                <i class="fa fa-lock fa-fw"></i>
                                INICIAR SESIÓN
                            </button>
                        </div>
                    </form>
                    <hr>
                    <div class="btn-group w-100 d-flex justify-content-around">
                        <a href="#" class="google-login-btn login-btn">
                            <i class="fa fa-google-plus-square fa-fw"></i>
                            GOOGLE +
                        </a>
                        <a href="#" class="facebook-login-btn login-btn">
                            <i class="fa fa-facebook-square fa-fw"></i>
                            FACEBOOK
                        </a>
                    </div>
                </div>                        
            </div>
        </div>
    </div>
</template>

<script>
    require('./login.js');
    import axios from 'axios';
    export default {
        data(){
            return{
                loginDetails:{
                    email: '',
                    password: '',
                    remember: true
                },
                errorsEmail: false,
                errorsPassword: false,
                emailError: null,
                passwordError: null
            };
        },
        methods:{
            loginPost(){
                let vm = this;
                axios.post('/laravel/public/login', vm.loginDetails).then(function(response){
                    console.log(response.data);
                }).catch(function(error){
                    var errors = error.response;
                    console.log(errors);
                    if(errors.statusText === 'Unprocessable Entity' || errors.status === 422){
                        if(errors.data){
                            if(errors.data.email){
                                vm.errorsEmail = true;
                                vm.emailError = _.isArray(errors.data.email)?errors.data.email[0]:errors.data.email;
                            }
                            if(errors.data.password){
                                vm.errorsPassword = true;
                                vm.passwordError = _.isArray(errors.data.password)?errors.data.password[0]:errors.data.password;
                            }
                        }
                    }
                });
            }
        },
        mounted(){
            console.log('Component mounted.');
        }
    }
</script>
